<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="ChapooConnectionString" connectionString="Data Source=194.171.20.101; Initial Catalog=RBS_1718_DB05; User ID=RBS_1718_grp05; Password=65HFURwGZq"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>